<div class="flex h-full flex-col gap-4 p-4">
  <div
    class="flex items-center justify-between rounded-3xl bg-gray-500 ps-4 text-white">
    <div>{{ currentPath().join('/') }}</div>
    <button
      [disabled]="currentFolder()?.name === '.'"
      (click)="up()"
      mat-flat-button>
      Back
    </button>
  </div>

  <div
    class="flex flex-1 flex-wrap content-start items-start gap-3"
    [wsContextMenu]="commonMenu">
    @for (folder of currentFolder()?.subFolders; track folder.name) {
      <button
        class="flex w-16 flex-col text-white"
        [wsContextMenu]="folderMenu"
        [wsContextMenuData]="folder.name"
        (click)="openFolder(folder.name)">
        <img src="assets/apps/file-explorer/folder.svg" alt="Folder" />
        <div class="w-full truncate text-center text-sm">{{ folder.name }}</div>
      </button>
    }
    @for (file of currentFolder()?.files; track file.name) {
      <button
        class="flex w-16 flex-col text-white"
        [wsContextMenu]="fileMenu"
        [wsContextMenuData]="file.name"
        (click)="openFile(file)">
        <img src="assets/apps/file-explorer/file.svg" alt="File" />
        <div class="w-full truncate text-center text-sm">{{ file.name }}</div>
      </button>
    }
  </div>

  <ng-template #commonMenu>
    <ws-common-context-menu />
  </ng-template>
  <ng-template #folderMenu let-name>
    <ws-folder-context-menu [folderName]="name" />
  </ng-template>
  <ng-template #fileMenu let-name>
    <ws-file-context-menu [name]="name" />
  </ng-template>
</div>
