<div class="pointer-events-none absolute h-full w-full">
  @if (config(); as config) {
    <div
      class="context-menu pointer-events-auto absolute origin-top-left rounded-xl bg-gray-500/80 py-3 text-white shadow-2xl backdrop-blur"
      @contextMenuAnimation
      [ngStyle]="{
        top: config.position.y + 'px',
        left: config.position.x + 'px',
      }"
      (click)="close()">
      <ng-container
        *ngTemplateOutlet="
          config.template;
          context: { $implicit: config.data }
        " />
    </div>
  }
</div>
